html,
body,
#root {
	height: 100%;
	margin: unset;
}
.page {
	height: 100%;
	width: 100%;
}
.main {
	height: 100%;
	width: 100%;
}
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 2px;
}

.loader span {
	display: inline-block;
}

.dots span {
	opacity: 0;
	animation: dotAnimation 1.4s infinite;
}

.dots span:nth-child(1) {
	animation-delay: 0s;
}

.dots span:nth-child(2) {
	animation-delay: 0.2s;
}

.dots span:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes dotAnimation {
	0%, 80%, 100% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
}
