html,
body,
#root {
	height: 100%;
	margin: unset;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Helvetica,
		Arial,
		sans-serif;
}
.page {
	height: 100%;
	width: 100%;
}
.main {
	height: 100%;
	width: 100%;
}
