html,
body,
#root {
	height: 100%;
	margin: unset;
}
.page {
	height: 100%;
	width: 100%;
}
.main {
	height: 100%;
	width: 100%;
}
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 2px;
	animation: fadeInOut 1.5s ease-in-out infinite;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
}
