html,
body,
#root {
	height: 100%;
	margin: unset;
}
.page {
	height: 100%;
	width: 100%;
}
.main {
	height: 100%;
	width: 100%;
}
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 10;
}
