.enterButton {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 12px 36px;
	font-size: 10px;
	font-weight: 300;
	border-radius: 16px;
	letter-spacing: 2.5px;
	cursor: pointer;
	transition: all 0.8s ease;
	text-transform: uppercase;
	opacity: 0;
}

.enterButton:hover {
	background: #fff;
	color: #000;
}
