.introText {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.introText span {
	display: inline-block;
}
